[submodule "NaezanCraft/ThirdParty/spdlog"]
	path = NaezanCraft/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "NaezanCraft/ThirdParty/glfw"]
	path = NaezanCraft/ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "NaezanCraft/ThirdParty/imgui"]
	path = NaezanCraft/ThirdParty/imgui
	url = https://github.com/ocornut/imgui
[submodule "NaezanCraft/ThirdParty/glm"]
	path = NaezanCraft/ThirdParty/glm
	url = https://github.com/g-truc/glm
